:root {
  --theme-blue: rgb(13, 99, 185);
}

body {
  background: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

main {
  justify-content: space-evenly;
}

main * {
  transition: 0.6s;
}

h1 {
  background: #ccc;
  margin: 0 0 auto 0;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.586);
  color: var(--theme-blue);
}

h2 {
  color: rgb(77, 76, 76);
}

.recent-scores,
form.add-score {
  width: 40%;
  margin: 0 20px;
}

.recent-scores div {
  align-items: center;
}

button {
  background: #fff;
  border: 0 solid transparent;
  border: 1px solid var(--theme-blue);
  height: 25px;
  box-shadow: 0 2px 4px 1px var(--theme-blue);
  border-radius: 3px;
  width: 80px;
  cursor: pointer;
}

button:hover {
  box-shadow: none;
}

.scores-list {
  border: 2px solid var(--theme-blue);
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  border-radius: 3px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.586);
}

.scores-list li {
  padding: 5px 10px;
  text-transform: capitalize;
  background: rgb(219, 218, 218);
  color: rgb(32, 32, 32);
}

.scores-list li:nth-child(even) {
  background: var(--theme-blue);
  color: #fff;
}

form.add-score {
  flex-direction: column;
  gap: 15px;
}

form.add-score button {
  align-self: flex-end;
}

input {
  height: 28px;
  border: 2px solid var(--theme-blue);
  padding-left: 8px;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border: 2px solid rgb(9, 78, 146);
  box-shadow: 0 1px 4px 0 var(--theme-blue);
}

@media screen and (max-width: 720px) {
  .recent-scores,
  form.add-score {
    width: 90%;
    margin: 0 20px;
  }
}

.d-flex {
  display: flex;
}

.row-wrap {
  flex-flow: row wrap;
}

.s-between {
  justify-content: space-between;
}

.margin {
  margin: 0;
}
